---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => (
                <a href={`${tag_url}/${tag}`} class="badge badge-outline">
                  {tag}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>

<section aria-label="Examples" class="mb-4 grid gap-4 md:mx-auto md:w-[380px]">
    <details data-hk="s00-1-0" class="group panel p-4 text-left" open="">
        <summary class="accordion heading-4 flex w-full cursor-pointer select-none items-center justify-between">
            <span>Blogs</span>
            <div aria-hidden="true" class="leading-none after:content-['+'] group-open:after:content-['-']"></div>
        </summary><!--$-->
        <div data-hk="s00-1-1-0" class="relative overflow-hidden transition-[height] " style="height: 129px;">
            <div style="position: absolute;">
                <p data-hk="s00-1-1-1" class="body my-4 text-gray-200">Build personal and professional blogs with Astro's built-in Markdown support and content APIs.</p>
                <p data-hk="s00-1-1-2" class="flex justify-between">
                    <a href="/themes/?categories%5B%5D=blog" class="link-underline">Blog themes</a>
                    <a href="https://firebase.blog/" class="link-underline">See it in the wild</a>
                </p>
            </div>
        </div><!--/-->
    </details>
</section>